.container {
  width: 250px;
  height: 300px;
  /* background: #b8b8b8; */
  border: 1px solid var(--color-subt);
  display: flex;
  justify-content: center;
  transition: 0.3s;
  border-top-left-radius: 30%;
  border-top-right-radius: 5%;
}

.containerImage {
  margin: 0;
}

.imagen {
  width: 100%;
  height: auto;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.2em;
  margin-bottom: 0.2em;
}
.name {
  background: var(--color-primary);
  color: var(--color-white);
  transition: 0.3s;
}
.name:hover {
  background: var(--color-white);
  color: var(--color-primary);
}

.attack {
  color: var(--color-primary);
}

.type {
  background: var(--color-primary);
  color: var(--color-white);
  margin-bottom: -3px;
}

.link {
  text-decoration: none;
  color: var(--color-white);
}

.link:hover {
  color: var(--color-subt);
  background: var(--color-white);
}

@media only screen and (max-width: 400px) {
  .container {
    width: 150px;
    height: 200px;
    background: #b8b8b8;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    transition: 0.3s;
  }
}
