.container {
  width: 250px;
  height: 300px;
  background: #b8b8b8;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.containerImage {
  margin: 0;
}

.imagen {
  width: 100%;
  height: auto;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.2em;
  margin-bottom: 0.2em;
}
.name {
  border: 1px solid salmon;
}

.type {
  border: 1px solid green;
}
