.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.containerComponents {
  display: flex;
  justify-content: center;
  gap: 4em;
}

@media only screen and (max-width: 900px) {
  .containerComponents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
  }
}
